
div.about{
    margin-top: 14%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border: solid;
    text-align: center;
    font-size: 50px;
    font-family: times; 
    background-color: aliceblue;

}

p a.aboutLinks{
    color: blue;}
p a.aboutLinks:hover{
    text-decoration: underline;}

.bg-img {
    /* The image used */
    background-image: url("../images/IMG_0802.JPEG");

    min-height: 1250px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}
p.logo{
    display: inline;
    float: right;
    margin: 30px;
    color: black;
    font-size: 25px;
    padding: 5px;
  }
  