
/*Home page style sheet*/

div.photos{
    margin: 5% auto 5% auto; }
div.photos p{
    color: black;
    text-align: center;}
h2.gallery{
    margin-top: 5%;
    text-align: center;
    color: white; }
p#lastKnownLocation{
    display: inline;
    float: right;
    margin-right: 2.5%;
    margin-bottom: 5%;}
p#emergencyStatus{
    float:left;
    display: inline;
    margin-left: 2.5%;
    padding-left:5px;
    padding-right:5px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: red;}
a.emergencyLink:hover{
    color: red;}
#siteMap{
    margin-top: 5%;
    margin-left: 2.5%;}
div.status{
   margin-bottom: 2.5%;
   border:solid;}
