
/*Home page style sheet*/

.title{
  text-align: center;
  font-size: 58px;
  font-weight: bold;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
}

.lastKnownLocation p, .emergencyStatus p{
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 5%;}
    
.emergencyStatus:hover{
  color: red;
  font-weight: bold;}
.lastKnownLocation:hover{
  color:blue;
  font-weight: bold;
}
.emergencyStatus{
  margin-right:50px;
}
.lastKnownLocation, .emergencyStatus{
  display: inline-block;
  width: 500px;
  height: 250px;
  border-style: solid;
  margin-top: 20px;
  padding-left:5px;
  padding-right:5px;}
.content{
  text-align: center;
  vertical-align: middle;}
    
div.footer{
  color: white;
  position: fixed;
  width: 100%;
  margin: 10px auto 10px auto;
  text-align: center ;    
  bottom: 10px;
  font-size: 110%; }

/*lightSlider settings*/

div.demo {
  width:auto;
  height: 550px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 475px;
}
img {   
  width:100%;
  height:100%;
}
