

#ControlPanel{
    margin-top: 5%;
    margin-bottom: 50px;
    text-align: center;}
label{
    color: black;
    font-family: monospace;
    font-size: 15pt;}
table {
    width: 100%;
    border-collapse: collapse;
    float:left;}
#Wood{
    text-align: center;
    margin-left: 5%;
    margin-bottom: 5%;}
th, td {
    color: black;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    padding: 10px 15px 10px 15px;
    vertical-align: top;}
th.msg{
    max-width: 25%;}