

#ControlPanel{
    margin-top: 5%;
    margin-bottom: 50px;
    text-align: center;}
label{
    color: black;
    font-family: monospace;
    font-size: 15pt;}
table {
    width: 100%;
    border-collapse: collapse;
    float:left;
    border: 1px solid black;
    display:block;
    overflow:auto;
    height:730px;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
}
#Wood{
    text-align: center;
    margin-left: 5%;
    margin-bottom: 5%;}
th, td {
    color: black;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    padding: 10px 15px 10px 15px;
    vertical-align: top;}
th.msg{
    max-width: 25%;}
.bg-img {
    /* The image used */
    background-image: url("../images/Beauty.jpg") !important;
    /*position: relative !important;*/
    min-height: 1200px  !important;
    width: 100%;
}