
/*Style sheet for the map page 
table {
  width: 100%;
  border-collapse: collapse;
  float:left;}
 */
#map {
  margin: auto;
  padding: 10px;
  height: 850px; 
  width: 100%;}
a.tripmenu{
  color:black;}
#mapMenu{
  display: inline-block;
  margin-right: 30px;
  margin-left: 10px;
  padding: 10px 20px 10px 20px; /*top right bottom left */
  background-color: white;
  border: solid;
  border-color: black;}
#info{
  display: inline-block;
  margin-right: 30px;
  margin-left: 10px;
  padding: 10px 20px 10px 20px; /*top right bottom left */
  background-color: white;
  border: solid;
  border-color: black;
}
p.infotxt{
  color:black;}
#texting{
  text-align: center;}
#MainBlock{
  text-align: center;
  position: center;
  margin: auto;
  white-space: nowrap;
  min-width:200px;
  /*width: auto !important;*/
  width: 100%; }
#mapMenu, #info{
  white-space: normal;
  vertical-align: top;}
