
/*Style sheet for the map page */


#map {
  height: 700px;  /* The height is 400 pixels */
  width: 67%;/* The width is the width of the web page */
  float: left;}
a.tripmenu{
  color:black;}
#mapMenu{
  float: left;
  margin-right: 30px;
  margin-left: 10px;
  padding: 10px 20px 10px 20px; /*top right bottom left */
  background-color: white;
  border: solid;
  border-color: black;}
#info{
  float: left;
  margin-left: 20px;
  padding: 15px 15px 15px 15px;
  background-color: white;
  border: solid;
  border-color: black;
  width: 250px;}
p.infotxt{
  color:black;}
#texting{
  text-align: center;}
#MainBlock{
  width: 100%;}

