
body{
    background-color: whitesmoke;
 }
p{
    color: black;
    font-family: monospace;
    font-size: 12pt;}
a{
    font-family: monospace; }
ul.menu{
    color: white;
    width: 92%;
    padding: 10px;
    margin: 0px auto 0px auto;
    border-bottom: 1px solid black;
    text-align: center;
    padding-right: 100px;}
p.logo{
    display: inline;
    color: #25DB49;
    float: left;
    margin-left: 20px;}
p.HAM{
    display: inline;
    color: white;
    float: right; }
ul.menu li{
    color: white;
    display: inline;
    margin: 0px 20px;
    font-size: 200%; }
a:link{
    color: white;
    text-decoration: none;}
a:visited{
    color: white; } 
ul.menu li:hover, a:hover{
    text-decoration: underline;} 


