
body{
    background-color: gray;
    cursor: crosshair; }
p{
    color: white;
    font-family: monospace;
    font-size: 12pt;}
.title{
    color: white;
    text-align: center;
    font-family: courier-new;
    margin-bottom: 5%;}
div.footer{
    color: white;
    position: fixed;
    width: 100%;
    margin: 10px auto 10px auto;
    text-align: center ;    
    bottom: 10px;
    font-size: 110%; }
a{
    font-family: monospace; }
ul.menu{
    color: white;
    width: 92%;
    padding: 10px;
    margin: 0px auto 0px auto;
    border-bottom: 1px solid white;
    text-align: center;
    padding-right: 100px;}
p.logo{
    display: inline;
    color: #25DB49;
    float: left;
    margin-left: 20px;}
p.HAM{
    display: inline;
    color: white;
    float: right; }
ul li{
    color: white;
    display: inline;
    margin: 0px 20px;
    font-size: 200%; }
a:link{
    color: white;
    text-decoration: none;
    cursor: crosshair;}
a:visited{
    color: white; } 
ul li:hover, a:hover{
    text-decoration: underline;} 


