
body{
    background-color:red;    
}



.footer{ 
        position: fixed;     
        text-align: center ;    
        bottom: 10px; 
        width: 100%;
    }
    
    
.summary{
        text-align: center;
        font-size: 18px;
        font-family: times;
}